@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  font-family: "Roboto Slab", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-field__input {
  width: 100%;
  border: 1px solid black;
  height: 40px;
  border-radius: 7px;
  padding: 0 6px;
  outline: 0;
}
